GOOGLE_SERVICE_ACCOUNT_EMAIL=xxx@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=1oVla2F_gz51kHE0_RTg6MBAz7xdsGjH8Otq-SZNYoCQ
ANTHROPIC_API_KEY=sk-ant-your-key-here
